@charset "UTF-8";

/* Elementos genéricos que são aplicados em diversas páginas*/
html {
  background-color: rgb(92, 92, 92);
}

body {
  background-color: white;
  width: 1140px;
  height: auto;
  margin: 0px auto 0px auto;
}

main {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

article, aside {
  margin: 30px;
  font-family: Georgia, Cambria, serif;
  font-weight: normal;
  font-size: 1.4em;
  text-align: left;
}

h1, h2, h3, h4 {
  color: white;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bolder;
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
}

h1 {
  padding-left: 20px;
  font-size: 1.6em;
  text-shadow: 0px 4px 4px rgba(28, 25, 25, 0.8);
  -webkit-text-stroke-width: 2px;
}

h2 {
  padding-left: 10px;
  font-size: 1.4em;
  text-shadow: 0px 2px 2px rgba(28, 25, 25, 0.8);
  -webkit-text-stroke-width: 1px;
}

h3 {
  padding-left: 10px;
  font-size: 1.2em;
  text-shadow: 0px 2px 2px rgba(28, 25, 25, 0.8);
  -webkit-text-stroke-width: 1px;
}

h4 {
  padding-left: 10px;
  font-size: 1.2em;
  text-shadow: 0px 2px 2px rgba(28, 25, 25, 0.8);
  -webkit-text-stroke-width: 1px;
}

.img_comum {
  border-radius: 5px;
}

.referencia {
  font-size: 0.6em;
  padding: 5px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.li_ref {
  display: inherit;
}

.fonte_button {
  display: inherit;
}

/* Fim dos elementos genéricos*/
/* Header de todas as páginas */
header {
  position: relative;
}

#logo {
  position: absolute;
  top: 130px;
  left: 20px;
}

#menu {
  position: absolute;
  top: 170px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.li_menu {
  display: inherit;
}

.button {
  width: 200px;
  height: 40px;
  color: rgb(241, 239, 229);
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(28, 25, 25, 0.8);
  border-radius: 10px;
  margin-right: 20px;
  display: inherit;
  align-items: center;
  justify-content: center;
}

.button0 {
  box-shadow: 4px 5px 5px rgba(255, 0, 0, 0.37);
  border-right: solid 3px rgba(255, 0, 0, 0.37);
  border-bottom: solid 3px rgba(255, 0, 0, 0.37);
}

.button1 {
  box-shadow: 4px 5px 5px rgba(28, 25, 136, 0.8);
  border-right: solid 3px rgba(28, 25, 136, 0.8);
  border-bottom: solid 3px rgba(28, 25, 136, 0.8);
}

.button2 {
  box-shadow: 4px 5px 5px rgba(170, 121, 45, 0.80);
  border-right: solid 3px rgba(170, 121, 45, 0.80);
  border-bottom: solid 3px rgba(170, 121, 45, 0.80);
}

.button3 {
  box-shadow: 4px 5px 5px rgba(136, 45, 85, 0.8);
  border-right: solid 3px rgba(136, 45, 85, 0.8);
  border-bottom: solid 3px rgba(136, 45, 85, 0.8);
}

.button4 {
  box-shadow: 4px 5px 5px rgba(0, 255, 56, 0.37);
  border-right: solid 3px rgba(0, 255, 56, 0.37);
  border-bottom: solid 3px rgba(0, 255, 56, 0.37);
}

.button0:hover {
  color: rgba(28, 25, 25, 0.8);
  background-color: rgba(255, 0, 0, 0.37);
}

.button1:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(28, 25, 136, 0.8);
}

.button2:hover {
  color: rgba(28, 25, 25, 0.8);
  background-color: rgba(170, 121, 45, 0.80);
}

.button3:hover {
  color: rgba(28, 25, 25, 0.8);
  background-color: rgba(136, 45, 85, 0.8);
}

.button4:hover {
  color: rgba(28, 25, 25, 0.8);
  background-color: rgba(0, 255, 56, 0.37);
}

#sub_menu {
  position: static;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.li_sub_menu {
  display: inherit;
}

.sub_button {
  width: 170px;
  height: 35px;
  color: rgb(241, 239, 229);
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  background: rgba(28, 25, 25, 0.8);
  border-radius: 10px;
  margin-right: 20px;
  display: inherit;
  align-items: center;
  justify-content: center;
}

.sub_button0 {
  box-shadow: 4px 5px 5px rgba(255, 0, 130, 0.37);
  border-right: solid 3px rgba(255, 0, 130, 0.37);
  border-bottom: solid 3px rgba(255, 0, 130, 0.37);
}

.sub_button1 {
  box-shadow: 4px 5px 5px rgba(0, 3, 255, 0.37);
  border-right: solid 3px rgba(0, 3, 255, 0.37);
  border-bottom: solid 3px rgba(0, 3, 255, 0.37);
}

.sub_button2 {
  box-shadow: 4px 5px 5px rgba(0, 255, 156, 0.37);
  border-right: solid 3px rgba(0, 255, 156, 0.37);
  border-bottom: solid 3px rgba(0, 255, 156, 0.37);
}

.sub_button0:hover {
  color: rgba(28, 25, 25, 0.8);
  background-color: rgba(255, 0, 130, 0.37);
}

.sub_button1:hover {
  color: rgba(28, 25, 25, 0.8);
  background-color: rgba(0, 3, 255, 0.37);
}

.sub_button2:hover {
  color: rgba(28, 25, 25, 0.8);
  background-color: rgba(0, 255, 156, 0.37);
}

#sub_menu_populares {
  position: static;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.li_sub_menu_populares {
  display: inherit;
}

.sub_button_populares {
  width: 130px;
  height: 35px;
  color: rgb(241, 239, 229);
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  background: rgba(28, 25, 25, 0.8);
  border-radius: 10px;
  margin-right: 20px;
  display: inherit;
  align-items: center;
  justify-content: center;
}

.sub_button_populares0 {
  box-shadow: 4px 5px 5px rgba(255, 0, 130, 0.37);
  border-right: solid 3px rgba(255, 0, 130, 0.37);
  border-bottom: solid 3px rgba(255, 0, 130, 0.37);
}

.sub_button_populares1 {
  box-shadow: 4px 5px 5px rgba(0, 255, 156, 0.37);
  border-right: solid 3px rgba(0, 255, 156, 0.37);
  border-bottom: solid 3px rgba(0, 255, 156, 0.37);
}

.sub_button_populares2 {
  box-shadow: 4px 5px 5px rgba(255, 184, 0, 0.37);
  border-right: solid 3px rgba(255, 184, 0, 0.37);
  border-bottom: solid 3px rgba(255, 184, 0, 0.37);
}

.sub_button_populares3 {
  box-shadow: 4px 5px 5px rgba(0, 201, 255, 0.37);
  border-right: solid 3px rgba(0, 201, 255, 0.37);
  border-bottom: solid 3px rgba(0, 201, 255, 0.37);
}

.sub_button_populares4 {
  box-shadow: 4px 5px 5px rgba(227, 255, 0, 0.37);
  border-right: solid 3px rgba(227, 255, 0, 0.37);
  border-bottom: solid 3px rgba(227, 255, 0, 0.37);
}

.sub_button_populares5 {
  box-shadow: 4px 5px 5px rgba(0, 3, 255, 0.37);
  border-right: solid 3px rgba(0, 3, 255, 0.37);
  border-bottom: solid 3px rgba(0, 3, 255, 0.37);
}

.sub_button_populares0:hover {
  color: rgba(28, 25, 25, 0.8);
  background-color: rgba(255, 0, 130, 0.37);
}

.sub_button_populares1:hover {
  color: rgba(28, 25, 25, 0.8);
  background-color: rgba(0, 255, 156, 0.37);
}

.sub_button_populares2:hover {
  color: rgba(28, 25, 25, 0.8);
  background-color: rgba(255, 184, 0, 0.37);
}

.sub_button_populares3:hover {
  color: rgba(28, 25, 25, 0.8);
  background-color: rgba(0, 201, 255, 0.37);
}

.sub_button_populares4:hover {
  color: rgba(28, 25, 25, 0.8);
  background-color: rgba(227, 255, 0, 0.37);
}

.sub_button_populares5:hover {
  color: rgba(28, 25, 25, 0.8);
  background-color: rgba(0, 3, 255, 0.37);
}

/* Final do Header de todas as páginas */
/* Página Index */
.index_article {
  flex: 7;
}

.index_img_generica1 {
  float: left;
  margin-right: 20px;
  border-radius: 5px;
}

.index_img_generica2 {
  float: right;
  margin-left: 20px;
  border-radius: 5px;
}

.index_aside {
  flex: 3;
  background-color: rgb(28, 25, 25);
  box-shadow: 4px 5px 5px rgba(255, 0, 0, 0.37);
  border-radius: 10px;
}

.index_aside_title {
  padding: 0px 20px;
  text-align: center;
}

.index_ul_aside {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  padding-right: 40px;
}

.index_li_aside {
  display: inherit;
  color: white;
  font-size: 1em;
}

/* Final da página Index */
/* Página A Música na Nossa História */
.historia_article {
  flex: 7;
  display: flex;
  flex-flow: wrap column;
}

.img_comum_historia {
  margin: auto;
  border-radius: 5px;
}

.historia_aside {
  flex: 6;
  padding: 20px;
  background-color: rgb(28, 25, 25);
  box-shadow: 4px 5px 5px rgba(0, 3, 255, 0.37);
  border-radius: 10px;
}

.historia_section_aside {
  color: white;
  font-size: 0.9em;
  padding: 10px;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
}

.historia_div_aside {
  display: inline;
}

/* Final da página A Música na Nossa História*/
/* Página MPB */
.mpb_article {
  flex: 7;
}

.mpb_img_article {
  float: left;
  margin-right: 20px;
  border-radius: 5px;
}

.mpb_aside {
  flex: 3;
  background-color: rgb(28, 25, 25);
  box-shadow: 4px 5px 5px rgba(255, 0, 130, 0.37);
  border-radius: 10px;
  color: white;
  font-size: 1em;
  padding: 20px;
}

.mpb_aside_title {
  font-size: 1.8em;
}

/* Final da página MPB */
/* Página Folclórica*/
.folclorica_main {
  display: flex;
  flex-direction: column;
}

.folclorica_section {
  margin: 15px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.folclorica_section_title {
  flex: 100%;
  padding-left: 20px;
}

.folclorica_sub_section {
  flex: 20%;
  color: white;
  margin: 20px;
  padding: 20px;
  background-color: rgb(28, 25, 25);
  box-shadow: 4px 5px 5px rgba(0, 3, 255, 0.37);
  border-radius: 10px;
  font-family: Georgia, Cambria, serif;
  font-weight: normal;
  font-size: 1em;
  text-align: left;
}

/* Final da página Folclórica */
/* Página Ditadura Militar */
.militar_main {
  display: flex;
  flex-direction: column;
}

.militar_aside {
  margin: 15px;
  border-radius: 10px;
  border-left: solid gray 1px;
  border-top: solid gray 1px;
  box-shadow: 4px 5px 5px rgba(0, 255, 156, 0.37);
  background-color: #FFFAFA;
  justify-content: space-around;
}

/* Final da página Ditadura Militar */
/* Página Ícones */
.icones_article {
  display: flex;
  flex-direction: column;
}

.icones_section_ul {
  display: flex;
  flex-flow: wrap row;
  grid-gap: 20px;
}

.icones_section_li {
  flex: 0.5;
  margin: 5px;
  border-radius: 10px;
  border-left: solid gray 1px;
  border-top: solid gray 1px;
  box-shadow: 4px 5px 5px rgba(0, 3, 255, 0.37);
  background-color: #FFFAFA;
  align-items: center;
  text-align: center;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-around;
}

/* Final da página Ícones */
/* Página Nossa Música Hoje */
.hoje_main {
  display: flex;
  flex-direction: row-reverse;
}

.hoje_article {
  flex: 7;
}

.img_generica3 {
  float: right;
  margin-right: 20px;
  border-radius: 5px;
}

.img_generica4 {
  float: right;
  margin-left: 20px;
  border-radius: 5px;
}

.hoje_aside {
  flex: 5;
  height: 100%;
  background-color: rgb(28, 25, 25);
  box-shadow: 4px 5px 5px rgba(136, 45, 85, 0.8);
  border-radius: 10px;
  color: white;
  padding: 10px 10px 30px 10px;
  display: flex;
  flex-direction: column;
}

.hoje_aside_title {
  text-align: center;
}

.hoje_table {
  border-collapse: collapse;
  font-family: Verdana, Arial, sans-serif;
}

.hoje_table_th, .hoje_table_td {
  height: 40px;
  width: auto;
  border: solid white 1px;
  text-align: center;
}

.hoje_table_th {
  font-size: 1em;
  color: rgb(28, 25, 25);
  background-color: white;
}

.hoje_table_td {
  font-size: 0.6em;
}

/* Final da página Nossa Música Hoje */
/* Página Choro */
.choro_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  grid-gap: 0px;
}

.choro_article {
  flex: 5;
}

.choro_figure {
  flex: 2;
}

.choro_aside {
  flex: 5;
  margin-left: 0px;
  height: 100%;
  background-color: rgb(28, 25, 25);
  box-shadow: 4px 5px 5px rgba(255, 0, 130, 0.37);
  border-radius: 10px;
  color: white;
  padding: 10px 10px 30px 10px;
  align-items: center;
}

.choro_aside_title {
  text-align: center;
}

/* Final da página Choro */
/* Página Forró */
.forro_main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  grid-gap: 0px;
}

.forro_article {
  flex: 7;
}

.forro_figure {
  flex: 2;
}

.forro_aside {
  flex: 5;
  margin-right: 0px;
  height: 100%;
  background-color: rgb(28, 25, 25);
  box-shadow: 4px 5px 5px rgba(0, 255, 156, 0.37);
  border-radius: 10px;
  color: white;
  padding: 10px 10px 30px 10px;
  align-items: center;
  text-align: center;
}

.forro_aside_title {
  font-size: 0.9em;
}

/* Final da página Forró */
/* Página Funk */
.funk_main {
  display: flex;
  flex-direction: row;
}

.funk_article {
  flex: 2;
}

.funk_aside {
  flex: 3;
  display: flex;
  flex-flow: wrap row;
  height: 100%;
}

.funk_aside_title {
  flex: 100%;
}

.funk_div {
  flex: 1;
  margin: 10px;
  width: auto;
  background-color: rgb(28, 25, 25);
  box-shadow: 4px 5px 5px rgba(255, 184, 0, 0.37);
  border-radius: 10px;
  color: white;
  padding: 10px 10px 30px 10px;
  align-items: center;
  text-align: center;
}

/* Final da página Funk */
/* Página Samba */
.samba_main {
  display: flex;
  align-items: center;
}

.samba_figure {
  flex: 1;
}

.samba_article {
  flex: 2;
  margin: 5px;
}

.samba_aside {
  flex: 1;
  margin-right: 30px;
  width: auto;
  background-color: rgb(28, 25, 25);
  box-shadow: 4px 5px 5px rgba(0, 201, 255, 0.37);
  border-radius: 10px;
  color: white;
  padding: 10px 10px 30px 10px;
  align-items: center;
}

.samba_aside_title {
  text-align: center;
}

/* Final da página Samba */
/* Página Sertanejo */
.sertanejo_main {
  display: flex;
  flex-direction: column;
}

.sertanejo_article {
  margin-bottom: 0px;
}

.sertanejo_aside {
  background-color: rgb(28, 25, 25);
  box-shadow: 4px 5px 5px rgba(227, 255, 0, 0.37);
  border-radius: 10px;
  color: white;
  padding: 20px;
  display: flex;
  flex-flow: wrap row;
}

.sertanejo_aside_title {
  flex: 100%;
  text-align: left;
}

.sertanejo_aside_img {
  flex: 1;
  border-radius: 10px;
}

.sertanejo_aside_ol {
  flex: 1;
  margin: 20px;
}

/* Final da página Sertanejo */
/* Página Trap */
.trap_main {
  display: flex;
  flex-direction: column;
}

.trap_article {
  margin: 25px;
}

.trap_figure {
  margin-left: auto;
  margin-right: auto;
}

.trap_aside {
  background-color: rgb(28, 25, 25);
  box-shadow: 4px 5px 5px rgba(0, 3, 255, 0.37);
  border-radius: 10px;
  color: white;
  padding: 20px;
}

.trap_aside_ul {
  display: flex;
  flex-flow: nowrap row;
}

/* Final da página Trap */
/* Página Quem Somos */
.quem_somos_main {
  display: flex;
  align-items: flex-start;
}

.quem_somos_article {
  flex-shrink: 3;
  font-size: 1.0em;
  display: flex;
  flex-direction: column;
}

.quem_somos_title {
  font-size: 2.3em;
}

.retrato_grupo {
  display: flex;
  float: left;
  flex-flow: wrap column;
  align-items: center;
}

.foto_grupo {
  border-radius: 90px;
}

.section_grupo {
  display: inline;
}

.quem_somos_aside {
  flex-shrink: 2;
  justify-content: center;
  background-color: rgb(28, 25, 25);
  box-shadow: 4px 5px 5px rgba(0, 3, 255, 0.37);
  border-radius: 10px;
  font-size: 1em;
  padding: 10px;
  margin: 30px;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
}

.link_para_contato {
  color: rgb(136, 45, 85);
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: bolder;
  text-decoration: overline;
  text-transform: uppercase;
}

/* Final da página Quem Somos */
/* Página Contato */
.contato_article {
  display: flex;
}

.contato_div {
  flex: 1;
}

.contato_form {
  flex: 1;
  background-color: rgb(28, 25, 25);
  box-shadow: 4px 5px 5px rgba(0, 3, 255, 0.37);
  border-radius: 10px;
  padding: 20px;
}

.contato_fieldset {
  font-family: Georgia, Cambria, serif;
  background-color: rgb(28, 25, 25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.contato_legend {
  color: white;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bolder;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  text-transform: uppercase;
  padding-left: 10px;
  font-size: 1.2em;
}

.contato_campo {
  padding: 10px;
  margin-bottom: 20px;
  border: solid 2px rgba(0, 3, 255, 0.37);
  border-radius: 5px;
}

.contato_mensagem {
  height: 200px;
  padding: 10px;
  margin-bottom: 20px;
  border: solid 2px rgba(0, 3, 255, 0.37);
  border-radius: 5px;
}

.contato_button {
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.8em;
}

.contato_button:hover {
  color: white;
  background-color: rgba(0, 3, 255, 0.37);
  box-shadow: 4px 5px 5px rgba(0, 3, 255, 0.37);
}

/* Final da página Contato */
/* Footer de todas as páginas */
#footer_geral {
  clear: both;
  position: relative;
  background-color: rgb(28, 25, 25);
}

.footer_nav {
  position: relative;
}

.logo_foot {
  position: absolute;
  top: 90px;
  left: 40px;
}

.map_title {
  position: relative;
  left: 180px;
  padding-left: 20px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bolder;
  font-size: 1.4em;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
}

.menu_foot {
  position: relative;
  left: 180px;
  height: 200px;
  width: 700px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.li_menu_foot {
  display: inherit;
}

.button_foot {
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.1em;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inherit;
}

.button_foot0 {
  color: rgb(136, 45, 85);
}

.button_foot1 {
  color: rgb(136, 45, 85);
}

.button_foot2 {
  color: rgb(180, 180, 180);
  margin-left: 20px;
}

.button_foot0:hover, .button_foot1:hover, .button_foot2:hover {
  color: rgb(28, 25, 25);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: none;
}

small {
  position: static;
}

#copyright {
  color: white;
  padding-left: 20px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
}

.small_contato {
  color: rgb(6, 93, 184);
}

/* Final do Footer */
